<div class="app-layout">
  <div class="header">Gangstas Paradise</div>
  <mat-card class="card">
    <mat-card-header>
      <button mat-button class="submit-button" (click)="checkTheRyme()">Check the Rhyme</button>
      <button mat-button class="submit-button" *ngIf="!audio" (click)="beatIt()">Beat It</button>
      <button mat-icon-button class="submit-button" *ngIf="audio" (click)="play()" [disabled]="!isPaused">
        <mat-icon fontSet="fa" fontIcon="fa-play"></mat-icon>
      </button>
      <button mat-icon-button class="submit-button" *ngIf="audio" (click)="pause()" [disabled]="isPaused">
        <mat-icon fontSet="fa" fontIcon="fa-pause"></mat-icon>
      </button>
      <button mat-icon-button class="submit-button" *ngIf="audio" (click)="stop()">
        <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="isLoading">
        <i style="font-size: 80px" class="fas fa-spinner fa-pulse"></i>
      </div>
      <div style="white-space:pre-wrap;">
        {{(response$ | async)?.text}}
      </div>
    </mat-card-content>

  </mat-card>
</div>

