<div class="app-layout">
  <mat-toolbar class="header">Gangstas Paradise</mat-toolbar>
  <mat-card class="card">
    <mat-card-header>
      <button mat-button class="submit-button">Check the Rhyme</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div style="white-space:pre-wrap;">
        Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita
        kasd gubergren, no sea takimata sanctus
        est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero
        eos et accusam et justo duo
        dolores et ea rebum. Stet
        clita kasd gubergren,
        no sea takimata sanctus est
        Lorem ipsum dolor sit amet.
      </div>

    </mat-card-content>

  </mat-card>
</div>

